{#{% extends 'base.html.twig' %}#}

{% block body %}
    <h1>Prixes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prix in prixes %}
            <tr>
                <td><a href="{{ path('prix_show', { 'id': prix.id }) }}">{{ prix.id }}</a></td>
                <td>{{ prix.montant }}</td>
                <td>{% if prix.dateDebut %}{{ prix.dateDebut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if prix.dateFin %}{{ prix.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('prix_show', { 'id': prix.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('prix_edit', { 'id': prix.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('prix_new') }}">Create a new prix</a>
        </li>
    </ul>
{% endblock %}
