{% extends "adminLayout.html.twig" %}
{% set breadCrumbPosition = "Categories" %}
{% set breadcrumbs = ['Nouveau'] %}


{% block stylesheets %}
{{parent()}}

    <link href="{{asset('adminTemplate/css/plugins/summernote/summernote.css')}}" rel="stylesheet">
    <link href="{{asset('adminTemplate/css/plugins/summernote/summernote-bs3.css')}}" rel="stylesheet">

    <link href="{{asset('adminTemplate/css/plugins/datapicker/datepicker3.css')}}" rel="stylesheet">

    <link href="{{asset('adminTemplate/css/animate.css')}}" rel="stylesheet">
    <link href="{{asset('adminTemplate/css/style.css')}}" rel="stylesheet">

{% endblock %}

{% block body %}

<div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Ajout d'une categorie</h2>
                <a href="{{ path('category_list') }}"><i class="fa fa-list"></i>Liste des categories</a>
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight ecommerce">

            <div class="row">
                <div class="col-lg-12">
                    <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1"> Ajout Categorie</a></li>
                            </ul>
                            
                            <div class="tab-content">
                                    <div class="panel-body">
                                        
                                        {{ form_start(form,{'multipart':'true'}) }}
                                        <fieldset class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">{{ form_label(form.catname) }}:</label>
                                                <div class="col-sm-10">
                                                    {{ form_widget(form.catname) }}
                                                    {{ form_errors(form.catname) }}

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">{{ form_label(form.catdesc) }}:</label>
                                                <div class="col-sm-10">
                                                    {{ form_widget(form.catdesc) }}
                                                    {{ form_errors(form.catdesc) }}
                                                </div>
                                            </div>

                                             <div class="form-group">
                                                <label class="col-sm-2 control-label">{{ form_label(form.parent) }}:</label>
                                                <div class="col-sm-10">
                                                    {{ form_widget(form.parent, {'attr': {'class':'form-control'}}) }}
                                                    {{ form_errors(form.parent) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label "> Icone de la catégorie </label>
                                                <div class="col-sm-10">
                                                    <input type="file" name="icone">
                                                </div>
                                            </div>
                                            
                                            <div class="">
                                                {{ form_widget(form.save) }}
                                            </div>
                                            
                                        </fieldset>
                                        {{ form_end(form) }}
                                    </div>
                                
                            </div>
                            
                    </div>
                </div>
            </div>

        </div>


{% endblock %}

{% block javascripts %}
{{parent()}}

<!-- SUMMERNOTE -->
<script src="{{asset('adminTemplate/js/plugins/summernote/summernote.min.js')}}"></script>

<!-- Data picker -->
<script src="{{asset('adminTemplate/js/plugins/datapicker/bootstrap-datepicker.js')}}"></script>

<script>
    $(document).ready(function(){

        $('.summernote').summernote();

        $('.input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });

    });
</script>

{% endblock %}