{% extends 'base-shop.html.twig' %}



{% block header %}
	<!-- Purple Header -->
	<div class="edge-header deep-purple" style="height: 200px;"></div>

	<!-- Main Container -->
	<div class="container free-bird">
	  	<div class="row">
		    <div class="col-md-12 col-lg-12 mx-auto float-none white z-depth-1 py-2 px-2">

				<!--Naked Form-->
				<div class="card-body">
					<h2 class="h2-responsive"> <strong> Mon compte/ Changement de mot de passe</strong> </h2>
				</div>
				<!--Naked Form-->
		    </div>
	  	</div>
	</div>
<!-- /.Main Container -->

{% endblock %}

{% block body %}

 <!--Main layout-->
  <main class="mt-5 pt-0">
    <div class="container-fluid">

      <!-- Heading -->

      <!--Grid row-->
      <div class="row">

		<!--Grid column-->
		<div class="col-md-10 offset-md-1 mb-4">
			<div class="row">
				<div class="col-md-6 offset-md-3 mb-4">
					<div class="card">
						<!--Card content-->
						<div class="card-body">
							<div class="col-xs-12">
								<h5><center><i class="fas fa-user"></i>&nbsp;Vos Informations</center></h5>
								<form action="{{ path("account_password") }}" method="post">
									{{ form_label(form.current_password, "Mot de passe actuel") }}
									{{ form_widget(form.current_password, {"attr":{"class":"form-control"}}) }}
									<span style="color:red">{{ form_errors(form.current_password) }}</span>

									{{ form_label(form.plainPassword.first, "Nouveau mot de passe") }}
									{{ form_widget(form.plainPassword.first, {"attr":{"class":"form-control"}}) }}
									<span style="color:red">{{ form_errors(form.plainPassword.first)}}</span>

									{{ form_label(form.plainPassword.second, "confirmer mot de passe") }}
									{{ form_widget(form.plainPassword.second, {"attr":{"class":"form-control"}}) }}
									<span style="color:red">{{ form_errors(form.plainPassword.second)}}</span>
									<br>
									{{ form_rest(form) }}
									<button type="submit" class="btn btn-block btn-success">Modifier</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

{% endblock %}
