{% extends 'base-shop.html.twig' %}

{#  Personnalisation du field choicetype livraisonDomicile #}
{% form_theme form _self %}

{% block choice_widget_expanded %}
    <div class="text-center">
    {%- for child in form %}
        {{ form_widget(child, { "attr" : {"form" : "deliver_form"} }) }} &nbsp;
        {{ form_label(child, null, {translation_domain: choice_translation_domain}) }}&nbsp;&nbsp;&nbsp;&nbsp;
    {% endfor %}
    </div>
{% endblock choice_widget_expanded %}


{% block header %}
		<!-- Purple Header -->
	<div class="edge-header deep-purple"></div>

	<!-- Main Container -->
	<div class="container free-bird">
	  	<div class="row">
		    <div class="col-md-12 col-lg-12 mx-auto float-none white z-depth-1 py-2 px-2">

				<!--Naked Form-->
				<div class="card-body">
					<h2 class="h2-responsive"><strong> Caisse  </strong></h2>
				</div>
				<!--Naked Form-->
		    </div>
	  	</div>
	</div>
<!-- /.Main Container -->

{% endblock %}

{% block body %}

 <!--Main layout-->
  <main class="mt-5 pt-0">
    <div class="container-fluid">

      <!-- Heading -->

      <!--Grid row-->
      <div class="row">

		<!--Grid column-->
		<div class="col-md-12 mb-4">
			<!--Card-->
			<div class="card">
				<!--Card content-->
				<div class="card-body">
					<div class="col-xs-12">
						<div class="row">
						<form method="post" action="{{ path('proceed_proforma') }}" id="deliver_form">{{ form_widget(form._token, { "attr" : {"form" : "deliver_form"} }) }}</form>
							<div class="col-md-8">
									<!--Grid row-->
								<div class="row">
									<div class="col-md-12" style="border: 1px solid gray; border-radius: 5px;">
										<label class="badge badge-primary">Informations du compte</label>
										<br>
										<div class="row">
											<div class="col-md-6 mb-4">
												<label>Nom d'utilisateur</label>
												<input type="text" class="form-control" disabled value="{{ app.user.username }}" />
											</div>
											<div class="col-md-6 mb-2">
												<label>Email</label>
												<input type="text" class="form-control mb-4" disabled value="{{ app.user.email }}" />
											</div>
										</div>
									</div>
									<hr />
									<div class="col-md-12">
										<br/>
										<br/>
										{{ form_widget(form.livraisonDomicile) }}
									</div>
									<hr />
									<div class="col-md-12">
										<div class="form-group">
											<label class="col-md-4"><h5>Durée de livraison</h6></label>
											<div class="col-md-8">
												{{ form_widget(form.dureeLivraison) }}
											</div>
										</div>
									</div>
									<hr />
									<div class="col-md-12 mt-5" style="border: 1px solid gray; border-radius: 5px;">
										<label class="badge badge-success adresse-facturation">Adresse de facturation</label>
										<br/>
										<div class="row adresse-facturation">
											<!--Grid column-->
											<div class="col-md-6 mb-2">
												<!--lastName-->
												{{form_label(form.lastname, "Nom") }}
												{{form_widget(form.lastname, { "attr" : {"class" : "form-control", "form" : "deliver_form"} }) }}
											</div>
											<!--Grid column-->
											<div class="col-md-6 mb-4">
												<!--firstName-->
												{{form_label(form.firstname, "Prénom") }}
												{{form_widget(form.firstname, { "attr" : {"class" : "form-control", "form" : "deliver_form"} }) }}
											</div>
											<!--Grid column-->
											<div class="col-md-6 mb-2">
												<!--email-->
												{{form_label(form.email, "Email") }}
												{{form_widget(form.email, { "attr" : {"class" : "form-control mb-4", "placeholder":"youremail@example.com", "form" : "deliver_form"} }) }}
											</div>
											<!--Grid column-->
											<div class="col-md-6 mb-2">
												{{form_label(form.phone, "Téléphone") }}
												{{form_widget(form.phone, { "attr" : {"class" : "form-control", "form" : "deliver_form"} }) }}
											</div>
											<div class=" col-md-12 mb-4">
												<!--address-->
												{{form_label(form.quartier, "Quartier") }}
												{{form_widget(form.quartier, { "attr" : {"class" : "form-control", "form" : "deliver_form"} }) }}
												
												{{ form_label(form.address, "Adresse") }}
												{{ form_widget(form.address, { "attr" : {"class" : "form-control", "form" : "deliver_form"} }) }}
												<br />
												<div class="mb-1 ml-4">
													<input type="checkbox" class="form-check-input" form="deliver_form" name="save" id="safeTheInfo">
													<label class="form-check-label" for="safeTheInfo">Sauvegarder cette information pour les prochaines commandes</label>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="mb-1 ml-4">
													<input type="checkbox" required class="form-check-input" form="deliver_form" id="chekboxRules">
													<label class="form-check-label" for="chekboxRules">J'accepte les termes et conditions</label>
												</div>
												<br />
												<button class="btn btn-primary btn-lg btn-block" form="deliver_form" type="submit">Valider la commande</button>
												<br/>
											</div>
										</div>

									</div>
								</div>
								<!--Grid column-->
							</div>
							<!--Grid column-->
							<div class="col-md-4 mb-4">

								<button class="btn btn-primary btn-lg btn-block" type="submit" form="deliver_form">Valider la commande</button>

								<!--Card-->
								<div class="card z-depth-0 border border-light rounded-0">

								<!--Card content-->
								<div class="card-body">
									<h4 class="mb-4 mt-1 h5 text-center font-weight-bold">Votre commande</h4>

									<hr>

									{% for order in cart|reverse %}
									<hr>
									<dl class="row">
										<dd class="col-sm-2">
											<img style="width: 100%;" src="{{ order.article.source1 }}" alt="#" />
										</dd>
										<dd class="col-sm-6">
											{{ order.article.designation }} - {{ order.article.description }} 
										</dd>
										<dd class="col-sm-4">
											{% if order.price is defined %}
											{% set pu = order.price %} 
											{% else %} 
												{% set pu = order.article.defaultPrice %} 
											{% endif %}
											Qte:&nbsp;{{ order.nbr }} pcs<br>
											Prix:&nbsp;{{ pu * order.nbr }}
										</dd>
									</dl>
									{% endfor %}
									<hr>

									<dl class="row">
										<dt class="col-sm-8">
											Total
										</dt>
										<dt class="col-sm-4">
											{{ cartAmount }}
										</dt>
									</dl>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

{% endblock %}


{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">

		$("input[type=radio]").on("change", function(){
			if( $(this).prop("selected", true) ){
				displayAdresse($(this).val());
			}
			//alert();
		});

		function displayAdresse(value)
        {

			if(value == 0){
				$('.adresse-facturation').css("display", "none");
			}
			else{
				$('.adresse-facturation').css("display", "");
			}
			
		}
	</script>

{% endblock %}