{% extends 'default/account.html.twig' %}

{% block compte_titre %}
    {% for message in app.session.flashbag.get("success") %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    <h2 class="h2-responsive"> <strong> Mon compte/ Détails de la commande </strong> </h2>
{% endblock %}

{% block lien_commande %}
<dt><br/>
    <a href="{{ path('account') }}" class="btn btn-primary btn-block">Mes commandes</a>
</dt>
{% endblock %}

 {% block zone_tableau %}

<div class="col-xs-12">

    <div class="table-responsive table-one margin-minus section-padding-bottom">
        <div>
            <h6>
                Date de la commande: {{ proforma.dateProformat|date("d/m/Y") }}
            </h6>
        </div>
        <hr/>
        <table class="table text-center">
            <thead>
                <tr>
                    <th class="border-0 text-uppercase small font-weight-bold">N&deg;</th>
                    <th class="border-0 text-uppercase small font-weight-bold">Article</th>
                    <th class="border-0 text-uppercase small font-weight-bold">P.U</th>
                    <th class="border-0 text-uppercase small font-weight-bold">Quantit&eacute;</th>
                    <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                </tr>
            </thead>
            <tbody>
            {% set i = 1   %}
            {% for order in proforma.lpCollection|reverse %}
                <tr>
                    <td> {{ i }} </td>
                    <td> <h6>{{ order.article.designation }}</h6> </td>
                    <td> <h6>{{ order.prix|number_format(0, '.', ' ') }}</h6> </td>
                    <td> <h6>{{ order.qte }}</h6> </td>
                    <td> <h6>{{ (order.prix * order.qte)|number_format(0, '.', ' ') }}</h6>   </td>
                    {% set i = i +1   %}
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="4" class="text-left"><h5><b>Total</b></h5></td>
                    <td><h5><b>{{ proforma.total|number_format(0, '.', ' ') }} FCFA</b></h5></td>									
                </tr>
                <tr>
                    <td colspan="4" class="text-left"><h5><b>Mode de livraison</b></h5></td>
                    <td><h5><b>
                    {% if proforma.livraisonDomicile %}
                    Livraison à domicile
                    {% else %}
                    Livraison en magasin
                    {% endif %}
                    </b></h5></td>									
                </tr>
                <tr>
                    <td colspan="4" class="text-left"><h5><b>Duree de livraison</b></h5></td>
                    <td><h5><b>
                    {% if proforma.dureeLivraison is not null %}
                        {{ proforma.dureeLivraison.libelle }}
                    {% endif %}
                    </b></h5></td>									
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--/.Card-->
 {% endblock %}