<div class="list-view tab-pane fade in" id="list">
	<div class="col-xs-12 col-sm-8 col-md-9">
		<div class="single-product margin40 clearfix">
			<div class="left">
				<div class="product-item margin-top">
					<div class="pro-img">
						<a href="product-details.html"><img src="{{ asset('rideo/img/products/7.jpg') }}" alt="Product" /></a>
						<div class="link-icon zoom-gallery">
							<a href="{{ asset('rideo/img/products/7.jpg') }}" ><img src="{{ asset('rideo/img/icon/w-zoom.png') }}" alt="Product" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="product-item">
					<div class="product-title">
						<a href="product-details.html"><h4>Copenhagen Spitfire Chair</h4></a>
						<div class="ratting">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star gray-star"></i>
						</div>
						<p><span>$1700.00</span><del>$170.00</del></p>
						<hr />
						<p class="list-p">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas</p>
						<hr />
					</div>
					<div class="actions-btn">
						<ul class="clearfix text-center">
							<li>
								<a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
							</li>
							<li>
								<a href="cart.html"><i class="fa fa-heart-o"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-compress"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="single-product margin40 clearfix">
			<div class="left">
				<div class="product-item margin-top">
					<div class="pro-img">
						<a href="product-details.html"><img src="{{ asset('rideo/img/products/7.jpg') }}" alt="Product" /></a>
						<div class="link-icon zoom-gallery">
							<a href="{{ asset('rideo/img/products/7.jpg') }}" ><img src="{{ asset('rideo/img/icon/w-zoom.png') }}" alt="Product" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="product-item">
					<div class="product-title">
						<a href="product-details.html"><h4>Copenhagen Spitfire Chair</h4></a>
						<div class="ratting">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star gray-star"></i>
						</div>
						<p><span>$1700.00</span><del>$170.00</del></p>
						<hr />
						<p class="list-p">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas</p>
						<hr />
					</div>
					<div class="actions-btn">
						<ul class="clearfix text-center">
							<li>
								<a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
							</li>
							<li>
								<a href="cart.html"><i class="fa fa-heart-o"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-compress"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="single-product margin40 clearfix">
			<div class="left">
				<div class="product-item margin-top">
					<div class="pro-img">
						<a href="product-details.html"><img src="{{ asset('rideo/img/products/7.jpg') }}" alt="Product" /></a>
						<div class="link-icon zoom-gallery">
							<a href="{{ asset('rideo/img/products/7.jpg') }}" ><img src="{{ asset('rideo/img/icon/w-zoom.png') }}" alt="Product" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="product-item">
					<div class="product-title">
						<a href="product-details.html"><h4>Copenhagen Spitfire Chair</h4></a>
						<div class="ratting">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star gray-star"></i>
						</div>
						<p><span>$1700.00</span><del>$170.00</del></p>
						<hr />
						<p class="list-p">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas</p>
						<hr />
					</div>
					<div class="actions-btn">
						<ul class="clearfix text-center">
							<li>
								<a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
							</li>
							<li>
								<a href="cart.html"><i class="fa fa-heart-o"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-compress"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="single-product margin40 clearfix">
			<div class="left">
				<div class="product-item margin-top">
					<div class="pro-img">
						<a href="product-details.html"><img src="{{ asset('rideo/img/products/7.jpg') }}" alt="Product" /></a>
						<div class="link-icon zoom-gallery">
							<a href="{{ asset('rideo/img/products/7.jpg') }}" ><img src="{{ asset('rideo/img/icon/w-zoom.png') }}" alt="Product" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="product-item">
					<div class="product-title">
						<a href="product-details.html"><h4>Copenhagen Spitfire Chair</h4></a>
						<div class="ratting">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star gray-star"></i>
						</div>
						<p><span>$1700.00</span><del>$170.00</del></p>
						<hr />
						<p class="list-p">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas</p>
						<hr />
					</div>
					<div class="actions-btn">
						<ul class="clearfix text-center">
							<li>
								<a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
							</li>
							<li>
								<a href="cart.html"><i class="fa fa-heart-o"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-compress"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="single-product margin40 clearfix">
			<div class="left">
				<div class="product-item margin-top">
					<div class="pro-img">
						<a href="product-details.html"><img src="{{ asset('rideo/img/products/7.jpg') }}" alt="Product" /></a>
						<div class="link-icon zoom-gallery">
							<a href="{{ asset('rideo/img/products/7.jpg') }}" ><img src="{{ asset('rideo/img/icon/w-zoom.png') }}" alt="Product" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="product-item">
					<div class="product-title">
						<a href="product-details.html"><h4>Copenhagen Spitfire Chair</h4></a>
						<div class="ratting">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star gray-star"></i>
						</div>
						<p><span>$1700.00</span><del>$170.00</del></p>
						<hr />
						<p class="list-p">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas</p>
						<hr />
					</div>
					<div class="actions-btn">
						<ul class="clearfix text-center">
							<li>
								<a href="cart.html"><i class="fa fa-shopping-cart"></i></a>
							</li>
							<li>
								<a href="cart.html"><i class="fa fa-heart-o"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-compress"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3">
		<div class="sidebar left-sidebar">
			<div class="category single-side">
				<div class="sidebar-title">
					<h3>Shop categories</h3>
				</div>
				<ul>
					<li>
						<a href="#">Bikes</a> <span class="floatright">(90)</span>
					</li>
					<li>
						<a href="#">Components</a> <span class="floatright">(60)</span>
					</li>
					<li>
						<a href="#">Apparel</a> <span class="floatright">(50)</span>
					</li>
					<li>
						<a href="#">Accessories</a> <span class="floatright">(30)</span>
					</li>
				</ul>
			</div>
			<div class="p-filter single-side">
				<div class="sidebar-title">
					<h3>price FILTER</h3>
				</div>
				<p>Range:  $100.00 - 500.00 </p>
				<div id="range-slider"></div>
			</div>
			<div class="single-side">
				<div class="sidebar-title">
					<h3>Sizes</h3>
				</div>
				<div class="size-btn clearfix">
					<a href="#">X</a>
					<a href="#">m</a>
					<a href="#">l</a>
					<a href="#">Xm</a>
					<a href="#">xxl</a>
				</div>
			</div>
			<div class="single-side clearfix">
				<div class="sidebar-title">
					<h3>RECENT ITEMS</h3>
				</div>
				<div class="recent-item">
					<div class="img">
						<a href="product-details.html"><img src="img/products/side1.png" alt="Resent Item" /></a>
					</div>
					<div class="text">
						<a href="product-details.html"><h5>Kuat NV 2 Bike Tray</h5></a>
						<div class="ratting">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star gray-star"></i>
						</div>
						<p><span>$170.00</span><del>$170.00</del></p>
					</div>
				</div>
				<div class="recent-item">
					<div class="img">
						<a href="product-details.html"><img src="img/products/side2.png" alt="Resent Item" /></a>
					</div>
					<div class="text">
						<a href="product-details.html"><h5>Shimano Pro Wrench</h5></a>
						<div class="ratting">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star gray-star"></i>
						</div>
						<p><span>$170.00</span></p>
					</div>
				</div>
				<div class="recent-item">
					<div class="img">
						<a href="product-details.html"><img src="img/products/side3.png" alt="Resent Item" /></a>
					</div>
					<div class="text">
						<a href="product-details.html"><h5>Link Pliers</h5></a>
						<div class="ratting">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star gray-star"></i>
						</div>
						<p><span>$170.00</span></p>
					</div>
				</div>
				<div class="recent-item">
					<div class="img">
						<a href="product-details.html"><img src="img/products/side4.png" alt="Resent Item" /></a>
					</div>
					<div class="text">
						<a href="product-details.html"><h5>Cable Cutter</h5></a>
						<div class="ratting">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star gray-star"></i>
						</div>
						<p><span>$120.00</span></p>
					</div>
				</div>
			</div>
			<div class="single-side">
				<div class="sidebar-title">
					<h3>Popular Tags</h3>
				</div>
				<div class="tag-btn clearfix">
					<a href="#">Bike</a>
					<a href="#">Wheel</a>
					<a href="#">Aparel</a>
					<a href="#">GPS</a>
					<a href="#">Track</a>
					<a href="#">Accessories</a>
					<a href="#">Men</a>
					<a href="#">Women</a>
					<a href="#">Power</a>
				</div>
			</div>
			<div class="sidebar-banner banner-hover">
				<a href="#"><img src="img/banner.jpg" alt="Banner" /></a>
			</div>
		</div>
	</div>
</div>