{% extends 'base-shop.html.twig' %}



{% block header %}
		<!-- Purple Header -->
	<div class="edge-header deep-purple"></div>

	<!-- Main Container -->
	<div class="container free-bird">
	  	<div class="row">
		    <div class="col-md-12 col-lg-12 mx-auto float-none white z-depth-1 py-2 px-2">

				<!--Naked Form-->
				<div class="card-body">
					<h2 class="h2-responsive"><strong> Caisse  </strong></h2>
				</div>
				<!--Naked Form-->
		    </div>
	  	</div>
	</div>
<!-- /.Main Container -->

{% endblock %}

{% block body %}

 <!--Main layout-->
  <main class="mt-5 pt-0">
    <div class="container-fluid">

      <!-- Heading -->

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-12 mb-4">

          <!--Card-->
          <div class="card">
            <!--Card content-->
            <div class="card-body">

				<div class="row">
					<div class="col-md-8">
						<!--Grid row-->
						<div class="row">
							<div class="col-md-6 offset-md-3 mb-4">
								<form action="{{ path("proforma_checkout_login") }}" method="post">
									<h3><center>Connectez vous</center></h3>
									<br/>
									<label for="username">Nom d'utilisateur</label>
									<input type="text" id="username" name="_username" class="form-control" required="required" />
									{% for message in app.flashes('user_checkout_error') %}
									<span style="color: red;">{{ message }}</span><br>
									{% endfor %}
									<label for="password">Mot de passe</label>
									<input type="password" id="password" name="_password" class="form-control" required="required" />
									{% for message in app.flashes('password_checkout_error') %}
									<span style="color: red;">{{ message }}</span><br>
									{% endfor %}
									<br>
									<input type="submit" id="_submit" name="_submit" value="connexion" class="btn btn-primary btn-block" />
								</form>
							</div>
							<br/>
							<div class="col-md-12">
							<hr  style="border: 1px solid gray;">
							</div>
							<br/>
							<div class="col-md-12 mt-100">
								<h3><center>Inscription</center></h3>
								<form action="{{ path("proforma_checkout_register") }}" method="post">
									<div class="row">
										<div class="col-md-6">
											{{form_label(form.email)}}
											{{ form_widget(form.email) }}
											{% for message in app.flashes('register_email_error') %}
											<span style="color: red;">{{ message }}</span><br>
											{% endfor %}

											{{ form_label(form.plainPassword.first) }}
											{{ form_widget(form.plainPassword.first) }}

											{{ form_label(form.suscriber.client.nom) }}
											{{ form_widget(form.suscriber.client.nom) }}

											{{ form_label(form.suscriber.client.raisoc) }}
											{{ form_widget(form.suscriber.client.raisoc) }}
										</div>
										<div class="col-md-6">
											{{form_label(form.username)}}
											{{ form_widget(form.username) }}
											{% for message in app.flashes('register_username_error') %}
											<span style="color: red;">{{ message }}</span><br>
											{% endfor %}

											{{form_label(form.plainPassword.second)}}
											{{ form_widget(form.plainPassword.second) }}
											{% for message in app.flashes('register_password_error') %}
											<span style="color: red;">{{ message }}</span><br>
											{% endfor %}

											{{ form_label(form.suscriber.client.prenom) }}
											{{ form_widget(form.suscriber.client.prenom) }}


											{{ form_label(form.suscriber.client.adresse) }}
											{{ form_widget(form.suscriber.client.adresse) }}
										</div>
									</div>
									{{ form_label(form.suscriber.client.telephone) }}
									{{ form_widget(form.suscriber.client.telephone) }}
									{% for message in app.flashes('telephone_error') %}
									<span style="color: red;">{{ message }}</span><br>
									{% endfor %}
									<br>
									{{ form_widget(form) }}
									<input type="submit" id="_submit" name="_submit" value="Inscription" class="btn btn-success btn-block" />
								</form>
							</div>
						</div>
						<!--Grid row-->
					</div>
					<!--Grid column-->

					<!--Grid column-->
					<div class="col-md-4 mb-4">

						<button class="btn btn-primary btn-lg btn-block" type="submit">Continuer</button>

						<!--Card-->
						<div class="card z-depth-0 border border-light rounded-0">

						<!--Card content-->
						<div class="card-body">
							<h4 class="mb-4 mt-1 h5 text-center font-weight-bold">Votre panier</h4>

							{% for order in cart|reverse %}
							<hr>
							<dl class="row">
								<dd class="col-sm-2">
									<img style="width: 100%;" src="{{ order.article.source1 }}" alt="#" />
								</dd>
								<dd class="col-sm-6">
									{{ order.article.designation }} - {{ order.article.description }} 
								</dd>
								<dd class="col-sm-4">
									{% if order.price is defined %}
									{% set pu = order.price %} 
									{% else %} 
										{% set pu = order.article.defaultPrice %} 
									{% endif %}
									{{ pu * order.nbr }}  ({{ order.nbr ~ " unité(s)" }})
								</dd>
							</dl>
							{% endfor %}
							<hr>

							<dl class="row">
							<dt class="col-sm-8">
								Total
							</dt>
							<dt class="col-sm-4">
								{{ cartAmount }}
							</dt>
							</dl>
						</div>

						</div>
				
				</div>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

{% endblock %}


{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		initAjaxForm();
		function initAjaxForm()
        {
            $('body').on('submit', '.ajaxForm', function (e) {
                e.preventDefault();
                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize()
                })
                .done(function (data) {
                	console.log(data);
                    if (typeof data !== 'undefined') {
                    	if (typeof data['article'] !== 'undefined') {
                        	$('#order-nbr-' + data['article'] ).val(data['nbrOrder']);
                        	$('#span-order-nbr-' + data['article'] ).html(data['nbrOrder']);
                        	$('#cart-length').html(data['nbrCart']);
                        	$('#total-order-' + data['article']).html( data['orderAmount'] );
                        	$('#invoice-nbr-aticles').html( data['nbrCart'] );
                        	$('#invoice-amount').html( data['cartAmount'] );
                    	}
                    }
                });
            });

            $('body').on('submit', '.removeOderForm', function (e) {
                e.preventDefault();
                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize()
                })
                .done(function (data) {
                	console.log(data);
                    if (typeof data !== 'undefined') {
                    	if (typeof data['article'] !== 'undefined') {
                        	$('#order-' + data['article'] ).remove();
                        	$('#cart-length').html(data['nbrCart']);
                    	}
                    }
                });
            });
        }
	</script>

{% endblock %}