{% extends 'base-shop.html.twig' %}



{% block header %}
		<!-- Purple Header -->
	<div class="edge-header deep-purple"></div>

	<!-- Main Container -->
	<div class="container free-bird">
	  	<div class="row">
		    <div class="col-md-12 col-lg-12 mx-auto float-none white z-depth-1 py-2 px-2">

				<!--Naked Form-->
				<div class="card-body">
					<h2 class="h2-responsive"><strong> Mon panier / Commande terminée </strong></h2>
				</div>
				<!--Naked Form-->
		    </div>
	  	</div>
	</div>
<!-- /.Main Container -->

{% endblock %}

{% block body %}

 <!--Main layout-->
  <main class="mt-5 pt-0">
    <div class="container-fluid">

      <!-- Heading -->

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-10 offset-md-1 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <div class="card-body">

				<div class="col-xs-12">

					<div class="table-responsive table-one margin-minus section-padding-bottom">


						<table class="table text-center">
							<thead>
								<tr>
									<th class="border-0 text-uppercase small font-weight-bold">N&deg;</th>
									<th class="border-0 text-uppercase small font-weight-bold">Article</th>
									<th class="border-0 text-uppercase small font-weight-bold">P.U</th>
									<th class="border-0 text-uppercase small font-weight-bold">Quantit&eacute;</th>
									<th class="border-0 text-uppercase small font-weight-bold">Total</th>
								</tr>
							</thead>
							<tbody>
							{% set i = 1   %}
							{% for order in proforma.lpCollection|reverse %}
								<tr>
									<td> {{ i }} </td>
									<td> <h6>{{ order.article.designation }}</h6> </td>
									<td> <h6>{{ order.prix|number_format(0, '.', ' ') }}</h6> </td>
									<td> <h6>{{ order.qte }}</h6> </td>
									<td> <h6>{{ (order.prix * order.qte)|number_format(0, '.', ' ') }}</h6>   </td>
									{% set i = i +1   %}
								</tr>
							{% endfor %}
								<tr>
									<td colspan="4" class="text-left"><h5><b>Total</b></h5></td>
									<td><h5><b>{{ proforma.total|number_format(0, '.', ' ') }} FCFA</b></h5></td>									
								</tr>
								<tr>
									<td colspan="4" class="text-left"><h5><b>Mode de livraison</b></h5></td>
									<td><h5><b>
									{% if proforma.livraisonDomicile %}
									Livraison à domicile
									{% else %}
									Livraison en magasin
									{% endif %}
									</b></h5></td>									
								</tr>
							</tbody>
						</table>
					</div>
				</div>
            </div>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

    </div>
  </main>
  <!--Main layout-->





<section class="cart-page section-padding">
	<div class="container">
		<div class="row">
			
		</div>
	</div>
</section>
{% endblock %}


{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		function printer(){
			$('#print-btn').hide();
			$('#back-to-shop').hide();
			window.print();
			$('#print-btn').show();
			$('#back-to-shop').show();
		}
	</script>
{% endblock %}
	                    


