
{% extends "base-shop.html.twig" %}


{% block header %}
	<!-- Purple Header -->
	<div class="edge-header deep-purple"></div>

	<!-- Main Container -->
	<div class="container free-bird">
	  <div class="row">
	    <div class="col-md-12 col-lg-12 mx-auto float-none white z-depth-1 py-2 px-2">

	      <!--Naked Form-->
	      <div class="card-body">
	        <h2 class="h2-responsive"><strong> Résultat de recherche correspondant à: {{ nom }} </strong></h2>

	        <div class="my-2">
				{% for cat in cats %}
					<a class="text-dark edge-menu-item badge badge-info p-2" style='font-size: 14px;font-weight: normal;text-transform: uppercase;font-family:OpenSans,"Open sans","PingFang SC","Microsoft YaHei","Helvetica Neue",Tahoma,Arial,Helvetica;' href="{{ path('shop_by_cat', {'rayon':cat.id, 'cat':cat.id}) }}">  {{ cat.catname }} <label class="badge badge-primary">({{ cat.typeArticles|length }})</label>  </a>
				{%  endfor %}
				
	        </div>

	      </div>
	      <!--Naked Form-->

	    </div>
	  </div>
	</div>
<!-- /.Main Container -->

{% endblock %}

{% block categories %}

{% endblock %}

{% block body %}
	

<!--Main layout-->
  <main class="mt-4">
    <div class="container">


      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row">
        	{% if articles is defined  %}
				{% set products = articles %}
					{% set i = 0 %}
					{% for prod in products %}
						{% set i = i+1 %}

						  <!--Grid column-->
							<div class="col-lg-3 col-md-6 mb-4">

								<!--Card-->
								<div class="card">

								  <!--Card image-->
								  <div class="view overlay">
								    <img src="{{ prod.item.source1 }}" class="card-img-top" alt="">
								    <a>
								      <div class="mask rgba-white-slight"></div>
								    </a>
								  </div>
								  <!--Card image-->

								  <!--Card content-->
								  <div class="card-body text-center">
								    <!--Category & Title-->
								   
									<small> {{ prod.item.category }} </small>
								    <h5>
								    	<strong>

									        <a href="" class="dark-grey-text">{{ prod.item.designation }} </a>
								    	</strong>
								    </h5>

								    <h4 class="font-weight-bold blue-text">
								     	
								      	{% if prod.price is defined %}
											{% set theAmount = prod.price %}
										{% else %}
											{% set theAmount = prod.item.defaultPrice %}
										{% endif  %}

										 <strong> {{ theAmount }} </strong>
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#centralModalSm-{{ loop.index }}">
											Commander
										</button>
								    </h4>



								  </div>
								  <!--Card content-->

								</div>
								<!--Card-->

							</div>
							<!--Grid column-->

							    <!-- Button trigger modal -->
							

							<!-- Central Modal Small -->
							<div class="modal fade" id="centralModalSm-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-{{ loop.index }}"
							  aria-hidden="true">

								<!-- Change class .modal-sm to change the size of the modal -->
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-body">
									      <!--Grid row-->
									     	<div class="row wow">

										        <!--Grid column-->
										        <div class="col-md-6 mb-4">
													
													<div id="article-panier-{{ prod.item.id }}"></div>
													<img src="{{ prod.item.source1 }}" id="img-{{ prod.item.id }}" class="img-fluid" alt="">
													
										        </div>
										        <!--Grid column-->

										        <!--Grid column-->
										        <div class="col-md-6 mb-2">

										          <!--Content-->
										          <div class="p-4">

										            <div class="mb-3">
										              <a href="javascript:void(0);">
										                <span class="badge purple mr-1">  {{ currentRayon.catname }} / {{ prod.item.category }} </span>
										              </a>
										            </div>

										            <p class="lead">
										              	{#<span class="mr-1">
										                	<del>$200</del>
										              	</span>#}
										              <span id="amount-{{ prod.item.id }}"> {{ theAmount }} </span>
										            </p>

													<form action="{{ path('add_to_cart') }}" default-image="{{ prod.item.source1 }}"  class="ajaxForm d-flex justify-content-left" id="form-{{ prod.item.id }}" method="POST">
														<div class="mt-1">
															{% for option in prod.options %}
															<div class="form-group">
																<label>{{ option.caracteristique.libelle }}</label>
																<select class="mylabel" data-caracteristique-id="{{ option.caracteristique.id }}" onchange="chargerArticle({{ prod.item.id }});">
																	<option value="" selected></option>
																	{% for valeur in option.valeurs %}
																	<option value="{{ valeur }}">{{ valeur }}</option>
																	{% endfor %}
																</select>
															</div>
															{% endfor %}
															<div class="form-group form-qte-{{ prod.item.id }}" style="display: none;">
																<label>quantité</label>
																<select name="qte" class="mylabel" id="qte-{{ prod.item.id }}">
																</select>
															</div>
															<p id="designation-{{ prod.item.id }}"></p>
															<p id="description-{{ prod.item.id }}"></p>
															<input type="hidden" name="article-id" id="article-id-{{ prod.item.id }}" />
															<button id="btn-add-card-{{ prod.item.id }}" disabled onclick=" valider($(this)); " class="btn btn-primary btn-lg my-0 p add-button-{{ prod.item.id }}" type="submit"> Ajouter au panier
										                	<i class="fas fa-shopping-cart ml-1"></i>
															</button>
														</div>
													</form>

	
													<!-- closeShopModal -->

													<!-- <i class="fas fa-camera fa-10x"></i> -->
													<label id="notif-add-card-{{ prod.item.id }}" class="hide mt-4" style="display: none;">
														Article ajout&eacute; au panier avec succ&egrave;s
														<i class="far fa-check-circle green-text fa-10x"></i>
													</label>
		
										          </div>
										          <!--Content-->

										        </div>
										        <!--Grid column-->

									    	</div>
									      <!--Grid row-->
								    	</div>
										<div class="modal-footer">
									        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">  Continuer mes achats </button>
									        <a type="button" href="{{ path('cart') }}" class="btn btn-primary btn-lg"> Voir mon panier</a>
									    </div>
							    	</div>
									

							   
								</div>
							</div>
							<!-- Central Modal Small -->
						
					{% endfor %}
				{% endif %}

        </div>
        <!--Grid row-->

     

      </section>
      <!--Section: Products v.3-->

   

    </div>
	
  </main>
  <!--Main layout-->

{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<style>
		.mylabel {
			display: inline-block;
			width: 100px;
			text-align: right;
		}​
	</style>
	<script type="text/javascript">
		initAjaxForm();
		function initAjaxForm()
        {
            $('body').on('submit', '.ajaxForm', function (e) {
         
                e.preventDefault();
                jQuery.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize()
                })
                .done(function (data) {
                	//console.log(data);
                    if (typeof data !== 'undefined') {
                    	if (typeof data['nbrCart'] !== 'undefined') {
                        	$('#cart-length').html(data['nbrCart']);
                        	//$('#cart-length').html(data['nbrCart']);
                        	//alert('article ajoute au panier avec success');
							addCardNotif(data.type_id);
                    	}
                    }
                });
     //            .fail(function (jqXHR, textStatus, errorThrown) {
					// alert('Echec du panier ' + errorThrown);
     //            });
            });
        }

       	function closeShopModal(index){
       		$('#centralModalSm-' + index).modal('hide');

       	}

       	function addCardNotif(index){
       		$('#notif-add-card-'+index).show();
       		//$('#btn-add-card-'+index).hide();
			chargerArticle(index);
       	}

		function chargerArticle(id){
			var initialiser = false;
			var valeurs = {"type-id" : id};
			$("#form-"+id+" select").each(function(){
				var caracteristique = $(this).attr("data-caracteristique-id");
				valeurs[caracteristique] = $(this).val();
			});

			$.ajax({
				url: "{{ path('select_article')|escape('js') }}",
				method: "post",
				datatype: "json",
				data: valeurs,
				success: function(data){
					if(data.length != 0){
						$.each(data, function(index, value){
							console.log(value);
							$("#img-"+id).val( value.article.a_source1 );
							if(value.price != null){
								//console.log(value.price);
								$("#amount-"+id).text(value.price);
							}
							else{
								$("#amount-"+id).text(value.article.a_defaultPrice);
							}

							$("#article-id-"+id).val(value.article.a_id);
							$("#designation-"+id).html("<h3><b>" + value.article.a_designation + "</b></h3>");
							$("#description-"+id).html(value.article.a_description);
							

							/* les quantités */
							$(".form-qte-"+id).css("display", "");
							$("#qte-"+id).empty();
							var qtePanier = parseInt(value.qtePanier);
							$("#article-panier-"+id).empty();
							if(qtePanier != 0){
								$("#article-panier-"+id).append("<b style=\"color: green;\">Quantité déjà selectionnée: " + qtePanier + "</b>");
							}
							var qte = parseInt(value.article.a_stock);
							if(qte > qtePanier){
								qte -= qtePanier;
								for(var i=1; i<=qte; i++){
									option = $("<option value='"+i+"'>"+i+"</option>");
									$("#qte-"+id).append(option);
								}

								$(".add-button-"+id).prop("disabled", false);
							}
							else{
								$("#designation-"+id).html( $("#designation-"+id).html() + "(<i>Stock épuisé</i>)" )
								$(".add-button-"+id).prop("disabled", true);
							}
						});
					}
					else{
						$("#img-"+id).val( $('#form-'+id).attr("default-image") );
						$("#amount-"+id).text("");
						$("#designation-"+id).html("<span style='color:red;'>Aucun article disponible correspondant!</span>");
						$("#description-"+id).html("");
						$(".add-button-"+id).prop("disabled", true);
						$(".form-qte-"+id).css("display", "none");
					}
				},
				error: function(){
					//console.log("error");
					$("#designation-"+id).html("<span style='color:red;'>Erreur de chargement, veuillez vérifier votre connexion internet</span>");
					$("#description-"+id).html("");
					$(".add-button-"+id).prop("disabled", true);
					$(".form-qte-"+id).css("display", "none");
				}
			});
		}


		function valider(btn){
			$(btn).click();
			$(btn).prop('disabled', true);
		}
	</script>

	


{% endblock %}