{% extends 'adminLayout.html.twig' %}

{% block body %}
    <h1>Inventaires</h1>
    {% if(inventaireEnCours == false) %}
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ path('demarrerInventaire') }}" class="btn btn-primary"> Démarrer un inventaire</a>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">

             
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-navigation="#"  data-page-size="15">
                        <thead>
                            <tr>
                                 <th data-toggle="true">#</th>
                                 <th data-toggle="true">Date de début</th>
                                 <th data-toggle="true">Date de clôture</th>
                                 <th data-toggle="true"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for inventaire in inventaires %}
                            <tr>
                                 <td>{{ inventaire.id }}</td>
                                 <td>{{ inventaire.dateDeb | date("d/m/Y H:m") }}</td>
                                 <td>
                                      {% if(inventaire.dateFin) %}
                                         {{ inventaire.dateFin | date("d/m/Y H:m") }}
                                      {% else %}
                                          En cours
                                      {% endif %}
                                </td>
                                 <td>
                                     {% if(inventaire.dateFin == null) %}

                                         <a href="{{ path('cloturerInventaire',{'id': inventaire.id}) }}" class="btn btn-danger cloturerInventaire">Clôturer</a>

                                         <a href="{{ path('enregistrerInventaire',{'id': inventaire.id}) }}" class="btn btn-primary">Continuer</a>

                                     {% endif %}

                                     <a href="{{ path('detailInventaire', {'id' : inventaire.id }) }}" class="btn btn-info"> Détails </a>

                                 </td>
                            </tr>
                            {% endfor %}

                                
                        </tbody>
                    </table>
                    

                    <div class="navigation">
                      {% if maxPages > 1 %}
                        <ul class="pagination pagination-sm">
                            
                            <li {{ thisPage == 1 ? 'class="disabled"' : ""}}>
                                <a href="{{ path('listeInventaire', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                            </li>

                            
                            {% for i in 1..maxPages %}
                            <li {{ thisPage == i ? 'class="active"' : ""}}>
                            <a href="{{ path('listeInventaire', {page: i}) }}">{{ i }}</a>
                            </li>
                            {% endfor %}

                           
                            <li {{ thisPage == maxPages ? 'class="disabled"' : ""}}>
                                <a href="{{ path('listeInventaire', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                            </li>
                        </ul>
                      {% endif %}
                    </div>  
      
                            
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
                $('.cloturerInventaire').click(function(e){
                    if(!confirm("Clôturer l'inventaire ? "))
                        return false;
                })

            });
    </script>
   

{% endblock %}