{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base-shop.html.twig' %}



{% block header %}
	<!-- Purple Header -->
	<div class="edge-header deep-purple" style="height: 200px;"></div>

	<!-- Main Container -->
	<div class="container free-bird">
	  	<div class="row">
		    <div class="col-md-12 col-lg-12 mx-auto float-none white z-depth-1 py-2 px-2">

				<!--Naked Form-->
				<div class="card-body">
					<h2 class="h2-responsive"> <strong> Mon compte/ Veuillez vous connecter</strong> </h2>
				</div>
				<!--Naked Form-->
		    </div>
	  	</div>
	</div>
<!-- /.Main Container -->

{% endblock %}

{% block body %}

 <!--Main layout-->
  <main class="mt-5 pt-0">
    <div class="container-fluid">

      <!-- Heading -->

      <!--Grid row-->
      <div class="row">

		<!--Grid column-->
		<div class="col-md-10 offset-md-1 mb-4">
			<div class="row">
				<div class="col-md-6 offset-md-3 mb-4">
					<div class="card">
						<!--Card content-->
						<div class="card-body">
							<div class="col-xs-12">
								{% if error %}
                      <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                  {% endif %}

                  <form action="{{ path("fos_user_security_check") }}" method="post">
                      {% if csrf_token %}
                          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                      {% endif %}

                      <label for="username">{{ 'security.login.username'|trans }}</label>
                      <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />

                      <label for="password">{{ 'security.login.password'|trans }}</label>
                      <input type="password" class="form-control" id="password" name="_password" required="required" />
                      
                      <div class="mb-4 mt-4 ml-1">
                        <center><a href="{{ path("account_register") }}" class="badge badge-success">Pas de compte? Cliquez ici pour vous inscrire ></a></center>
                      </div>
                      <div class="mb-4 mt-4 ml-1">
                        <center><a href="{{ path("fos_user_resetting_request") }}" class="">Mot de passe oublié?</a></center>
                      </div>

                      {#<div class="mb-4 mt-4 ml-1">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                      </div>#}
                      <div class="text-center">
                          <input type="submit" class="btn btn-primary btn-lg" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                      </div>
                  </form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

{% endblock %}
