{% extends "adminLayout.html.twig" %}
{% set breadCrumbPosition = "Ventes" %}
{% set breadcrumbs = ['Statistiques'] %}



{% block body %}
 
            <div class="row">

                <div class="col-lg-12">
                    <h2>Statistiques</h2>
                </div>

                

                <div class="col-lg-12">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="{{ (tab == 'clt' or tab==null ) ? 'active' : ''}} "><a data-toggle="tab" href="#client"> Par client</a></li>
                            <li class="{{ (tab == 'article') ? 'active' : ''}}"><a data-toggle="tab" href="#article">Par article</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="client" class="tab-pane {{ (tab == 'clt' or tab==null ) ? 'active' : ''}} ">
                                <div class="panel-body" style="display:block;">
                                        
                                    {{ form_start(stat_by_clt_view, {'attr' : {'class':'', 'id':'stat_by_clt_form' }}) }}

                                                      
                                       <div class="row">

                                            <div class="col-lg-4">
                                                
                                                    <div class="form-group">
                                                              <label >Client</label> 
                                                              {{ form_widget(stat_by_clt_view.client, { 'attr' : { 'class': 'form-control select2'}}) }}

                                                     </div>

                                            </div>


                                            <div class="col-lg-3">
                                                
                                                    <div class="form-group">
                                                              <label>Date de début</label> 
                                                               <div class="input-group">
                                                                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                  {{ form_widget(stat_by_clt_view.dateDeb_search, { 'attr' : { 'class': 'form-control datepicker cltDateDeb', 'autocomplete':'off'}}) }}
                                                              </div>
                                                             

                                                     </div>

                                            </div>


                                            <div class="col-lg-3">
                                                   
                                                      <div class="form-group">
                                                                <label>Date de fin</label> 
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                      {{ form_widget(stat_by_clt_view.dateFin_search, { 'attr' : { 'class': 'form-control datepicker cltDateFin', 'autocomplete':'off'}}) }}
                                                                </div>
                                                               
                                                       </div>

                                              </div>


                                              <div class="col-lg-2">
                                                            <label for=""> </label>
                                                      <div class="form-group">
                                                             <button id="cltSearchFormSubmitBtn" type="submit" class="btn btn-primary" >Rechercher</button>
                                                       </div>

                                              </div>



                                         </div>


                                    {{ form_end(stat_by_clt_view) }}

                                    <div class="row">
                                        <div class="col-lg-12" id="stat_by_clt_table_container">
                                                      
                                            <table id="stat_by_clt_table" class="footable table table-stripped toggle-arrow-tiny" data-page-navigation="#">
                                                <thead>
                                                  <tr>
                                                     <th data-toggle="true"># Facture</th>
                                                     <th data-toggle="true">Date</th>
                                                     <th data-toggle="true">Client</th>
                                                     <th data-toggle="true">Prix total</th>
                                                     <th data-toggle="true">Total payé</th>
                                                     <th data-toggle="true">Reste à payer</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  {% for vente in stat_by_clt %}
                                                    <tr>
                                                       <td>{{ vente.id }}</td>
                                                       <td>{{ vente.createdAt | date("d/m/Y H:i") }}</td>
                                                       <td> {{ vente.client }} </td>
                                                       
                                                       <td>
                                                        {{ (vente.totalHt + vente.tva - vente.remise ) | number_format(0, ',', ' ')   }}
                                                       </td>
                                                       <td>
                                                        {{ (vente.totalHt + vente.tva - vente.remise - vente.resteAPayer ) | number_format(0, ',', ' ')   }}
                                                       </td> 
                                                       <td>
                                                        {{ vente.resteAPayer | number_format(0, ',', ' ')   }}
                                                       </td>
                                                    </tr>
                                                    {% endfor %}

                                                        
                                                </tbody>
                                            </table>

                                            <div class="navigation">
                                              {% if statByCltMaxPages > 1 %}
                                                <ul class="pagination pagination-sm">
                                                  
                                                    <li {{ thisStatByCltPage == 1 ? 'class="disabled"'  : "" }}>
                                                        <a href="{{ path('stats_ventes', {statByCltPage: thisStatByCltPage-1 < 1 ? 1 : thisStatByCltPage-1}) }}&tab=clt">«</a>
                                                    </li>

                                                  
                                                    {% for i in 1..statByCltMaxPages %}
                                                    <li {{ thisStatByCltPage == i ? 'class="active"'  : "" }}>
                                                    <a href="{{ path('stats_ventes', {statByCltPage: i}) }}&tab=clt">{{ i }}</a>
                                                    </li>
                                                    {% endfor %}

                                                  
                                                    <li {{ thisStatByCltPage == statByCltMaxPages ? 'class="disabled"'  : "" }}>
                                                        <a href="{{ path('stats_ventes', {statByCltPage: thisStatByCltPage+1 <= statByCltMaxPages ? thisStatByCltPage+1 : thisStatByCltPage}) }}&tab=clt">»</a>
                                                    </li>
                                                </ul>
                                              {% endif %}
                                            </div>  
                                              

                                             
                                        </div>
                                    </div>

    
                                </div>
                            </div>


                            <div id="article"   class="tab-pane {{ (tab == 'article') ? 'active' : ''}}">
                                <div class="panel-body">
                                                            
                                    {{ form_start(stat_by_article_view, {'attr' : {'class':'vertical-form', 'id':'stat_by_article_form' }}) }}

                                                      
                                  <div class="row">

                                    

                                      <div class="col-lg-3">
                                          
                                        <div class="form-group">
                                          <label >Article</label> 
                                          {{ form_widget(stat_by_article_view.article, { 'attr' : { 'class': 'form-control select2'} }) }}

                                         </div>

                                      </div>

                                      <div class="col-lg-2">
                                          
                                              <div class="form-group">
                                                        <label>Date de début</label> 
                                                         <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            {{ form_widget(stat_by_article_view.dateDeb_search, { 'attr' : { 'class': 'form-control datepicker artDateDeb', 'autocomplete':'off'}}) }}
                                                        </div>
                                                       

                                               </div>

                                      </div>


                                      <div class="col-lg-2">
                                             
                                          <div class="form-group">
                                            <label>Date de fin</label> 
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                  {{ form_widget(stat_by_article_view.dateFin_search, { 'attr' : { 'class': 'form-control datepicker artDateFin', 'autocomplete':'off'}}) }}
                                            </div>
                                          </div>

                                      </div>

                                      <div class="col-lg-2">
                                          <label></label> 
                                          <div class="form-group">
                                              <button id="artSearchFormSubmitBtn" type="submit" class="btn btn-primary" >Rechercher</button>
                                          </div>

                                      </div>
         
                                      {{ form_end(stat_by_article_view) }}
                                       
                                  </div>

                                      <div class="row">
                                        <div class="col-lg-12" id="stat_by_article_table_container">

                                                                      
                                            <table id="stat_by_article_table" class="footable table table-stripped toggle-arrow-tiny" data-page-navigation="#" data-page-size="15">
                                                <thead>
                                                  <tr>
                                                     <th data-toggle="true"># Article</th>
                                                     <th data-toggle="true">Article</th>
                                                     <th data-toggle="true">Date</th>
                                                     <th data-toggle="true">Client</th>
                                                     <th data-toggle="true">PU</th>
                                                     <th data-toggle="true">Qté</th>
                                                     <th data-toggle="true">Prix total</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  {% for ligne_vente in stat_by_article %}
                                                    <tr>
                                                       <td>{{ ligne_vente.article.id }}</td>
                                                       <td>{{ ligne_vente.article.designation }}</td>
                                                       <td>{{ ligne_vente.vente.getCreatedAt() | date("d/m/Y") }}</td>
                                                       <td> {{ ligne_vente.vente.client.nom }} {{ ligne_vente.vente.client.prenom }} </td>
                                                       <td> {{ ligne_vente.montant |number_format(0, ',', ' ') }} </td>
                                                       <td> {{ ligne_vente.qte}} </td>
                                                       <td> {{ (ligne_vente.qte * ligne_vente.montant) |number_format(0, ',', ' ')  }} </td>
                                                    </tr>
                                                    {% endfor %}

                                                        
                                                </tbody>
                                            </table>
                                         

                                            <div class="navigation">
                                              {% if statByArtMaxPages > 1 %}
                                                <ul class="pagination pagination-sm">
                                                  
                                                    <li {{ thisStatByArtPage == 1 ? 'class="disabled"'  : ""  }}>
                                                        <a href="{{ path('stats_ventes', {statByArtPage: thisStatByArtPage-1 < 1 ? 1 : thisStatByArtPage-1}) }}&tab=article">«</a>
                                                    </li>

                                             
                                                    {% for i in 1..statByArtMaxPages %}
                                                    <li {{ thisStatByArtPage == i ? 'class="active"'  : "" }}>
                                                    <a href="{{ path('stats_ventes', {statByArtPage: i}) }}&tab=article">{{ i }}</a>
                                                    </li>
                                                    {% endfor %}

                                              
                                                    <li {{ thisStatByArtPage == statByArtMaxPages ? 'class="disabled"'  : "" }}>
                                                        <a href="{{ path('stats_ventes', {statByArtPage: thisStatByArtPage+1 <= statByArtMaxPages ? thisStatByArtPage+1 : thisStatByArtPage}) }}&tab=article">»</a>
                                                    </li>
                                                </ul>
                                              {% endif %}
                                            </div>   

                                             
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

{% endblock %}

{% block javascripts %}
	 {{ parent()}}
	  
    <script src='{{asset("adminTemplate/js/plugins/footable/footable.all.min.js")}}'></script>


  <script src="{{ asset('my_files/js/statistique/statistiqueS.js') }}" type="text/javascript"></script>


    <script>
        $(document).ready(function() {

            $('.footable').footable();

        });

    </script>


    <script>
        $(document).ready(function() {

            $('#cltSearchFormSubmitBtn').click(function(e){
             
                let clt = $("#form_client").val(),
                    dateDeb = $('.cltDateDeb').val(),
                    dateFin = $('.cltDateFin').val();

                if(!clt && !dateDeb && !dateFin)
                {
                   alert("Vous devez choisir au moins un champ de recherche") ;
                   return false;
                }

                if(!dateDeb || !dateFin  )
                {
                   alert("Vous devez indiquer la date de début et de fin.") ;
                   return false;
                }
                else //les deux dates sont indiquées
                {
                  if(dateDeb>dateFin)
                  {
                    alert("La date debut doit être inférieure à celle de fin");
                    return false;
                  }
                }

            });  

            $('#artSearchFormSubmitBtn').click(function(e){
             
                let art = $("#form_article").val(),
                    dateDeb = $('.artDateDeb').val(),
                    dateFin = $('.artDateFin').val();

                if(!art && !dateDeb && !dateFin)
                {
                   alert("Vous devez choisir au moins un champ de recherche") ;
                   return false;
                }

                if(!dateDeb || !dateFin  )
                {
                   alert("Vous devez indiquer la date de début et de fin.") ;
                   return false;
                }
                else //les deux dates sont indiquées
                {
                  if(dateDeb>dateFin)
                  {
                    alert("La date debut doit être inférieure à celle de fin");
                    return false;
                  }
                }

            });  


        });
    </script>




{% endblock %}
